@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-white bg-blue-500 border-2 border-blue-600 py-2 px-4 rounded-xl shadow font-semibold hover:bg-blue-600 hover:transition-all;
  }

  .rounded-skill {
    @apply text-zinc-700 w-fit p-2 bg-blue-200 rounded-2xl shadow border text-sm;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d1dff1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}